.wrapper {
  border-radius: 12px;
  background: rgba(187, 187, 187, 0.3);
  width: 1200px;
  height: 90px;
  margin: 98px auto 40px;
  padding: 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .genreFilters {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  overflow-y: hidden;
}
.wrapper .genreFilters::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  border-radius: 10px;
}
.wrapper .genreFilters::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
}
.wrapper .genreFilters::-webkit-scrollbar-thumb {
  background: #7d7d7d;
  border-radius: 10px;
  cursor: pointer;
}
.wrapper .genreFilters::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wrapper .genreFilters li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 30px 6px;
}
.wrapper .genreFilters li a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
}
.wrapper .genreFilters .genreSpacer {
  width: 17px;
}
.wrapper .genreFilters .active {
  border-radius: 10px;
  background: #53A32E;
}
.wrapper .genreFilters .active a {
  color: white !important;
}
.wrapper .darkTheme::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  border-radius: 10px;
}
.wrapper .darkTheme::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.wrapper .darkTheme::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.wrapper .darkTheme::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}