.wrapper {
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
}
.wrapper .inner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .inner .title h2 {
  color: #5CC11F;
  font-family: Roboto;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .inner .title .logo {
  width: 249px;
  height: 89px;
  display: inline-block;
  margin: 73px auto 12px;
}
.wrapper .inner .title .image {
  width: 536px;
  height: 400px;
}
.wrapper .inner .form {
  border-radius: 20px;
  background: rgba(187, 187, 187, 0.3);
  padding: 120px 125px 0 135px;
}