.wrapper
    min-height: 100vh
    height: auto
    display: flex
    justify-content: center
    align-items: center
    .inner
        display: flex
        justify-content: space-between
        gap: 70px
        .title
            display: flex
            flex-direction: column
            justify-content: center
            h2
                color: #5CC11F
                font-family: Roboto
                font-size: 100px
                font-style: normal
                font-weight: 500
                line-height: normal
            .logo
                width: 249px
                height: 89px
                display: inline-block
                margin: 73px auto 12px
            .image
                width: 536px
                height: 400px
        .form
            border-radius: 20px
            background: rgba(92, 193, 31, 0.20)
            padding: 120px 125px 0 135px
