.wrapper {
  margin: 61px 0 96px;
}
.wrapper .container {
  width: 1180px;
  margin: 0 auto;
}
.wrapper .container .inner {
  position: relative;
}
.wrapper .container .inner .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .container .inner .header > span {
  color: #5CC11F;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .container .inner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 96px;
}
.wrapper .container .inner .content .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}
.wrapper .container .inner .content .book .image {
  width: 180px;
}
.wrapper .container .inner .content .book .image img {
  width: 100%;
  height: 100%;
}
.wrapper .container .inner .content .book .title h3 {
  width: 290px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .container .inner .content .book .title p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 40px 0 47px;
}
.wrapper .container .inner .content .book .title .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 62px;
}
.wrapper .container .inner .content .book .title .footer span {
  width: 98px;
  color: #636363;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper .container .inner .content .book .title .footer button {
  border-radius: 6px;
  border: 1px solid #5CC11F;
  width: 130px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
}
.wrapper .container .inner .content .book .title .footer button img {
  width: 23px;
  height: 25px;
}