.wrapper {
  margin: 59px 0 99px;
  background: transparent;
}
.wrapper .container {
  width: 1180px;
  margin: 0 auto;
}
.wrapper .container .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.wrapper .container .inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}
.wrapper .container .inner .nav .search {
  width: 250px;
  height: 32px;
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px solid #5CC11F;
}
.wrapper .container .inner .nav .search img {
  width: 29px;
  height: 25px;
  position: absolute;
  left: 20px;
}
.wrapper .container .inner .nav .search input {
  padding-right: 38px;
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 61px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  outline: none;
  color: #000;
}
.wrapper .container .inner .nav .search input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper .container .inner .nav .search input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper .container .inner .nav .search input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper .container .inner .nav .search input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper .container .inner .nav .search input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wrapper .container .inner .nav .auth {
  border-radius: 10px;
  background: #5CC11F;
  text-decoration: none;
  width: 200px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .container .clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  left: auto !important;
  right: 6px;
  top: 3.5px;
}
.wrapper .container .clearIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.wrapper .container .searchSelect {
  position: absolute;
  left: -25px;
  margin-top: 10px;
  width: 120%;
  border-radius: 10px;
  background: rgb(151, 151, 151);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: auto;
  max-height: 100px;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
}
.wrapper .container .searchSelect::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.wrapper .container .searchSelect::-webkit-scrollbar-track {
  background: #B1B1B1;
  border-radius: 10px;
}
.wrapper .container .searchSelect::-webkit-scrollbar-thumb {
  background: #5CC11F;
  border-radius: 10px;
}
.wrapper .container .searchSelect::-webkit-scrollbar-thumb:hover {
  background: #438918;
}
.wrapper .container .searchSelect li {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  padding: 5px 8px;
  cursor: pointer;
}
.wrapper .container .searchSelect li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.wrapper .container .searchSelect li:hover {
  border-radius: 4px;
  background: rgb(187, 187, 187);
}